<nav class="navbar navbar-expand-lg py-3 py-lg-4 logo-background">
  <button class="navbar-toggler py-2 ml-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"><span class="mobile-menu-text">MENU</span>
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse py-xl-0 pr-0 pr-lg-5 navbar-collapse text-center" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-lg-0">
      <li class="nav-item text-center py-3 py-lg-0 px-2">
        <a class="nav-link first-nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
    <li class="nav-item text-center py-3 py-lg-0 px-2">
        <a class="nav-link first-nav-link" href="/about-us">About Us</a>
    </li>
    <li class="nav-item text-center py-3 py-lg-0 px-2">
      <a class="nav-link first-nav-link" href="/testimonials">Testimonials</a>
    </li>
    <li class="nav-item text-center py-3 py-lg-0 px-2">
      <a class="nav-link first-nav-link" href="/contact">Contact</a>
    </li>
    <li class="nav-item text-center py-3 py-lg-0 px-2">
      <a class="nav-link first-nav-link" href="/donate">Donate</a>
    </li>
    </ul>
      <a href="/online-application">
      <button class="px-5 mt-1 py-1 donate-button">Online Application</button>
      </a>
  </div>
</nav>