<!DOCTYPE html>
<html lang="en">
  
{% include /html/head/head-master.html %}

<body id="about-us">
{% include /html/header/header-master.html %}
<hr class="m-0 p-0">
<div class="container-fluid pb-3 pt-md-5 pb-md-3">
    <div class="col-12 text-center">
        <h1>Who is Promise of Hope Tattnall..</h1>
    </div>
</div>

<div class="container-fluid py-2 py-md-2">
    <div class="col-11 col-md-9 mx-auto text-left">
         <div class="col-12 col-md-7 mx-auto text-center pb-3">
            <img class="img-fluid" width="100%" src="/assets/img/pageimg/Promise of Hope Tattnall Facility.jpg">
        </div>
Promise of Hope Tattnall serves as a faith-based long-term recovery residence for women. We offer nine month and yearly recovery programs for women over 18 years of age.
<br>
<br>
Your recovery process with us will include weekly church attendance on Sundays, consistant AA and NA 12-step programs, and fellowship with others in recovery. Classes will be provided during recovery, including subjects such as life skills, boundaries, education, insight meetings
, and re-lapse prevention. Regular Bible study will be observed as well as several outside group activities.
<br>
<br>
Most important, we will do our best to provide a much needed safe space for your recovery here at Promise of Hope Tattnall. Your recovery needs and your recovery pace will be heard, considered and recognized. Join us and take those precious first steps towards a life free from addiction and abuse.
<br>
<br>
<img class="img-fluid logo-signature" src="/assets/img/pageimg/promise-of-hope-logo-lite.png">
<a target="_blank" href="/assets/img/PDF/Promise of Hope Tattnall Brochure.pdf">
    <button class="m-4 donate-button">View our brochure</button>
</a>
    </div>
</div>

<div class="container-fluid google-map">
  <div class="col-12 text-center">
  <h2 class="text-center m-0 pt-2 pb-4">Visit our location</h2>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2711.00520563083!2d-81.9904931855558!3d31.907108535136935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fa91cf057af2a1%3A0x39d7b307124699ac!2s1091+Old+Anderson+Cemetery+Rd%2C+Glennville%2C+GA+30427!5e1!3m2!1sen!2sus!4v1517593100363" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

<div class="container-fluid py-4">
    <div class="col-12 text-center">
        <h2 class="py-2"><u>Our Sponsors</u></h2>
        <img src="/assets/img/sponsors/cornerstone-bible.PNG">
        <img src="/assets/img/sponsors/courson-farms.PNG">
        <img src="/assets/img/sponsors/elza-bible-church.PNG">
        <img src="/assets/img/sponsors/gb-bank.PNG">
        <img src="/assets/img/sponsors/glennville-united-methodist-church.PNG">
        <img src="/assets/img/sponsors/hopewell-methodist-church.PNG">
        <img src="/assets/img/sponsors/pinegrove-baptist.PNG">
        <img src="/assets/img/sponsors/pineview-baptist.PNG">
        <img src="/assets/img/sponsors/restoration-pointe.PNG">
        <img src="/assets/img/sponsors/rotary.PNG">
        <img src="/assets/img/sponsors/south-georgia-bank.PNG">
        <h6 class="pt-5">Marguerite Dubberly</h6>
        <h6>Wayne and Pat Tatum</h6>
        <h6>Steve &amp; Regis Kimbrell</h6>
        <h6>Dennis &amp; Denise Dobbins</h6>
        <h6>Kenneth and Debbie Crews</h6>
        <h6>Jet Foods</h6>
        <h6>Todd Padgett Housing Authority</h6>
    </div>
</div>

{% include /html/footer/footer-master.html %}
  
  </body>
</html>
