<!DOCTYPE html>
<html lang="en">
  
{% include /html/head/head-master.html %}

<body id="application">
{% include /html/header/header-master.html %}

<div class="py-3"></div>

<h2 class="text-center pt-5 form-title">Promise of Hope Application</h2>

<div class="container-fluid py-5">
        <div class="row">
                <div class="col-12 text-center">
                <span class="learn-more-link"><a target="_blank" href="/assets/img/PDF/2021-application-pdf.pdf">Download our application</a></span>
                <div class="learn-more-link">All applicants must meet the Promise of Hope admission requirements which can be <a target="_blank" href="https://www.promiseofhopetattnallga.org/faq">found here.</a></div>
                <div class="learn-more-link">A list supplies and personal belongings accepted applicants will need to bring can be <a target="_blank" href="https://www.promiseofhopetattnallga.org/faq">found here.</a></div>
                </div>
        </div>
</div>

<div class="py-5"></div>

<script src="https://www.cognitoforms.com/f/seamless.js" data-key="soTZv_QtCkGHiCIJGffUrQ" data-form="2"></script>

<!-- <script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='/thank-you';}"></iframe>

<form id="application" class="form" action="https://docs.google.com/forms/d/e/1FAIpQLSdwRrxQKQU_jz93uKd8C_bhx8-o8nhjfHQB_Jjd_gRgShwU-A/formResponse" method="POST" id="application" target="hidden_iframe" onsubmit="submitted=true;">

<h2 class="text-center py-4 form-title">Promise of Hope Application</h2>

<div class="container-fluid pb-2">
        <div class="row">
          <div class="col-12 text-center">
                <span class="learn-more-link"><a target="_blank" href="/assets/img/PDF/2021-application-pdf.pdf">Download our application</a></span>
                <div class="learn-more-link">All applicants must meet the Promise of Hope admission requirements which can be <a target="_blank" href="https://www.promiseofhopetattnallga.org/faq">found here.</a></div>
                <div class="learn-more-link">A list supplies and personal belongings accepted applicants will need to bring can be <a target="_blank" href="https://www.promiseofhopetattnallga.org/faq">found here.</a></div>
          </div>
        </div>
      </div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 py-3 text-center">
            <label class="col-12 form-label" for="email-address">Email Address*</label>
            <input id="email-address" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1846069878" placeholder="Your Email" required type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="gender">Gender*</label>
                <select id="gender" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.11836733" required>
                        <option name="entry.11836733" data-value="Male">Male</option>
                        <option name="entry.11836733" data-value="Female">Female</option>
                </select>
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
            <label class="col-12 form-label" for="first-name">First Name*</label>
            <input id="first-name" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1244632634" placeholder="First Name" required type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="last-name">Last Name*</label>
                <input id="last-name" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.2139467277" placeholder="Last Name" required type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="address-line-1">Address (line 1)*</label>
                <input id="address-line-1" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.983226750" placeholder="Address Line 1" required type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="address-line-2">Address (line 2)</label>
                <input id="address-line-2" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1384720901" placeholder="Address Line 2" type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="city">City*</label>
                <input id="city" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1844171675" placeholder="City" required type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="state">State*</label>
                <input id="state" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1755580729" placeholder="State" required type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="zip-code">Zip Code*</label>
                <input id="zip-code" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1400914460" placeholder="Zip Code" required type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="age">Age*</label>
                <input id="age" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1580442158" placeholder="Your Age" required type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="birthday">Birthday*</label>
                <input id="birthday" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.156138384" placeholder="mm/dd/yyyy" required type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="primary-phone-number">Primary Contact Phone Number*</label>
                <input id="primary-phone-number" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.2124394924" placeholder="Primary Contact Number" required type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="marital-status">Marital Status</label>
                <select id="marital-status" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.375462110">
                        <option name="entry.375462110" data-value="Single">Single</option>
                        <option name="entry.375462110" data-value="Married">Married</option>
                        <option name="entry.375462110" data-value="Divorced">Divorced</option>
                        <option name="entry.375462110" data-value="Seperated">Seperated</option>
                        <option name="entry.375462110" data-value="Widowed">Widowed</option>
                </select>
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="date-of-divorce">If divorced or separated, list date of</label>
                <input id="date-of-divorce" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1261072019" placeholder="mm/dd/yyyy" type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="name-of-spouse">Spouse's Name</label>
                <input id="name-of-spouse" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1046659672" placeholder="Spouse's Name" type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="number-of-dependent-children">Number of dependent children</label>
                <input id="number-of-dependent-children" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1968134512" placeholder="# Dependent Children" type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="church-affiliation">Church Affiliation</label>
                <input id="church-affiliation" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.840419704" placeholder="Your Church Affiliation" type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="pastors-name">Pastor's Name</label>
                <input id="pastors-name" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1715950672" placeholder="Your Pastor's Name" type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="church-phone-number">Church Phone Number</label>
                <input id="church-phone-number" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1241275368" placeholder="Church's Phone Number" type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="education-level">Education Level</label>
                <select id="education-level" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1485469480">
                        <option name="entry.1485469480" data-value="Some High School">Some High School</option>
                        <option name="entry.1485469480" data-value="High School Graduate">High School Graduate</option>
                        <option name="entry.1485469480" data-value="Some College">Some College</option>
                        <option name="entry.1485469480" data-value="College Graduate">College Graduate</option>
                        <option name="entry.1485469480" data-value="Graduate School">Graduate School</option>
                </select>
        </div>
        <h2 class="col-12 text-center py-4 form-title">Emergency Contact Information</h2>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="name-emergency-contact">Name of Contact</label>
                <input id="name-emergency-contact" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1613087476" placeholder="Emergency Contact Name" type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="relation-to-emergency-contact">Relationship to Applicant</label>
                <input id="relation-to-emergency-contact" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.231207499" placeholder="Relation to Emergency Contact" type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="phone-number-emergency-contact">Emergency Contact Phone Number</label>
                <input id="phone-number-emergency-contact" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1644483558" placeholder="Phone # Emergency Contact" type="text" />
        </div>
        <h2 class="col-12 text-center py-4 form-title">Personal Medical Status</h2>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="details-about-drug-abuse">What type of drugs have you been abusing and how long?</label>
                <textarea id="details-about-drug-abuse" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.699302422" placeholder="Be complete about frequency and rate" /></textarea>
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="details-subtance-abuse-family">Is there a history of substance abuse in your family?</label>
                <textarea id="details-subtance-abuse-family" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1190706640" placeholder="If yes, please describe" /></textarea>
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="details-history-violence-family">Is there a history of violence in your family?</label>
                <textarea id="details-history-violence-family" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.131693606" placeholder="If yes, please describe" /></textarea>
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="history-of-convulsions-seizures-blackouts">Have you ever had convulsions, seizures, or blackouts?</label>
                <textarea id="history-of-convulsions-seizures-blackouts" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1340463580" placeholder="If yes, please describe" /></textarea>
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="do-you-have-allergies">Any known Allergies?</label>
                <textarea id="do-you-have-allergies" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1447161484" placeholder="If yes, please describe" /></textarea>
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="additional-medical-problems">Other Medical Problems?</label>
                <textarea id="additional-medical-problems" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.766334490" placeholder="If yes, please describe" /></textarea>
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="prescription-medication-details">Are you taking any prescription medications?</label>
                <textarea id="prescription-medication-details" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1934634556" placeholder="If yes, please describe" /></textarea>
        </div>
        <h2 class="col-12 text-center py-4 form-title">Rate yourself in the following: (Excellent, Good, Fair, Poor)</h2>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="rate-physical-condition">Physical Condition:</label>
                <select id="rate-physical-condition" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1961661433">
                        <option name="entry.1961661433" data-value="Excellent">Excellent</option>
                        <option name="entry.1961661433" data-value="Good">Good</option>
                        <option name="entry.1961661433" data-value="Fair">Fair</option>
                        <option name="entry.1961661433" data-value="Poor">Poor</option>
                </select>
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="rate-mental-condition">Mental Condition:</label>
                <select id="rate-mental-condition" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1953247211">
                        <option name="entry.1953247211" data-value="Excellent">Excellent</option>
                        <option name="entry.1953247211" data-value="Good">Good</option>
                        <option name="entry.1953247211" data-value="Fair">Fair</option>
                        <option name="entry.1953247211" data-value="Poor">Poor</option>
                </select>
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="rate-emotional-condition">Emotional Condition:</label>
                <select id="rate-emotional-condition" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.264308257">
                        <option name="entry.264308257" data-value="Excellent">Excellent</option>
                        <option name="entry.264308257" data-value="Good">Good</option>
                        <option name="entry.264308257" data-value="Fair">Fair</option>
                        <option name="entry.264308257" data-value="Poor">Poor</option>
                </select>
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="rate-spiritual-condition">Spiritual Condition:</label>
                <select id="rate-spiritual-condition" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.575783036">
                        <option name="entry.575783036" data-value="Excellent">Excellent</option>
                        <option name="entry.575783036" data-value="Good">Good</option>
                        <option name="entry.575783036" data-value="Fair">Fair</option>
                        <option name="entry.575783036" data-value="Poor">Poor</option>
                </select>
        </div>
        <h2 class="col-12 text-center py-4 form-title">Legal Status</h2>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="current-parole-status">Are you currently on parole, probation, under bond, or involved in any legal matters at this time?</label>
                <textarea id="current-parole-status" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1528191716" placeholder="If so, please describe for what and how long" /></textarea>
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="parole-officer-name">Parole Officer's Name</label>
                <input id="parole-officer-name" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1105771005" placeholder="Parole Officer's Name" type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="parole-officer-phone">Parole Officer's Phone Number</label>
                <input id="parole-officer-phone" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1449546073" placeholder="Parole Officer's Phone #" type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="who-recommended-us">Who recommended Promise of Hope to you?</label>
                <input id="who-recommended-us" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1263030917" placeholder="Recommendation Name" type="text" />
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="have-you-attended-substance-abuse-program">Have you attended a previous substance abuse program?</label>
                <select id="have-you-attended-substance-abuse-program" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.854863122">
                        <option name="entry.854863122" data-value="Yes">Yes</option>
                        <option name="entry.854863122" data-value="No">No</option>
                </select>
        </div>
        <div class="col-12 col-md-6 py-3 text-center">
                <label class="col-12 form-label" for="additional-information">Comments or Other Important Information</label>
                <textarea id="additional-information" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.40927267" placeholder="Anything else we need to know about?" /></textarea>
        </div>
        <h2 class="col-12 text-center pt-4 form-title">Letter of Motivation</h2>
        <p class="col-11 col-md-8 text-center mx-auto pb-4">In filling out an application for entry into Promise of Hope, we ask that you write a letter of motivation, stating why you feel as though you want help at this time in the space provided below. Without letter of motivation your application will not be reviewed.</p>
        <div class="col-12 col-md-12 py-3 text-center">
                <textarea id="letter-of-motivation" class="col-11 col-md-8 pt-2 pb-2 form-input" name="entry.1593838123" placeholder="Enter letter here" required /></textarea>
        </div>
        <div class="col-12 pt-2 text-center py-3">
            <input class="pt-2 pb-2 font-weight-bold form-submit-button" type="submit" value="Submit Application" />
        </div>
    </form>
    </div>
</div> -->

{% include /html/footer/footer-master.html %}
  
  </body>
</html>

