<!DOCTYPE html>
<html lang="en">
  
{% include /html/head/head-master.html %}

<body id="contact">
{% include /html/header/header-master.html %}

<h2 class="text-center py-4 form-title">Contact Us</h2>

<div class="container-fluid pb-5">
        <div class="row">
          <div class="col-12 text-center">
                <div class="learn-more-link">Send us a message by filling in the form below.</div>
          </div>
        </div>
      </div>

<form class="container-fluid" action="/thank-you/" netlify-honeypot="field-for-coolguys" name="" method="POST" netlify>
    <input type="hidden" name="subject" value="Contact from Website" />
    <div class="row col-12 col-md-10 mx-auto pb-5">
        <div class="col-12 col-sm-6 pb-3">
            <label class="">Your Name*</label>
            <input name="your-name" type="text" placeholder="Type your name here.." class="col-12 pt-2 pb-2 form-input" required>
        </div>
        <div class="col-12 col-sm-6 pb-3">
            <label class="form-label">Contact number*</label>
            <input name="contact-number" type="tel" placeholder="What number can we reach you at?" class="col-12 pt-2 pb-2 form-input" required>
        </div>
        <div class="col-12 col-sm-6 pb-3">
            <label class="">Email</label>
            <input name="email" type="email" placeholder="If you have one, enter an email here.." class="col-12 pt-2 pb-2 form-input">
        </div>
        <input type="text" name="field-for-coolguys" style="display:none" />
        <div class="col-12 col-sm-6 pb-3">
            <label class="">How can we help you?*</label>
            <textarea name="message" placeholder="What can we help you with?" class="col-12 pt-2 pb-5 form-input"></textarea>
        </div>
        <div class="col-auto pt-3 ml-auto">
            <input type="submit" value="Submit" class="px-5 mt-1 py-1 donate-button">
        </div>
    </div>
</form>

{% include /html/footer/footer-master.html %}
  
  </body>
</html>