<!DOCTYPE html>
<html lang="en">
  
{% include /html/head/head-master.html %}

<body id="home-page">
{% include /html/header/header-master.html %}

<hr class="p-0 m-0">

<h1 class="pt-5 text-center">Donate to Promise of Hope Tattnall</h1>
<p class="text-center">Use the button below to donate a single amount or monthly to Promise of Hope Tattnall.</p>

<form class="py-5 text-center" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="ZSBKXB4T4Q7GC">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" width="150px" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    

{% include /html/footer/footer-master.html %}
  
  </body>
</html>

