<!DOCTYPE html>
<html lang="en">
  
{% include /html/head/head-master.html %}

<body id="home-page">
{% include /html/header/header-master.html %}

<hr class="p-0 m-0">

<h1 class="pt-5 text-center">Frequently Asked Questions</h1>
<p class="text-center">Have a question about our program? See if the answer is provided here.</p>

<div class="container-fluid">
    <div class="col-11 col-md-6 mx-auto py-5">
        <h6 class="mx-auto">WHAT ARE THE ADMISSION REQUIREMENTS FOR PROMISE OF HOPE?</h6>
        <ul>
            <li class="pb-2">
                Have alcohol/drug dependent issues
            </li>
            <li class="pb-2">
                Not be actively suicidal or homicidal
            </li>
            <li class="pb-2">
                Having adequate control over their behavior and assessed not to be
imminently dangerous to self or others; no violent tendencies
            </li>
            <li class="pb-2">
                Express a desire to recover from addiction to drugs and alcohol
            </li>
            <li class="pb-2">
                Be assessed as medically appropriate and free of any illness that requires
isolation from others
            </li>
            <li class="pb-2">
                Be 18 years of age or older
            </li>
            <li class="pb-2">
                Have the capacity for active participation in all phases of the program
            </li>
            <li class="pb-2">
                Be responsible for taking own medications as prescribed
            </li>
            <li class="pb-2">
                Be able to work
            </li>
            <li class="pb-2">
                Be willing to suspend contact with family, friends, and acquaintances while
on phase one (30-45) days
            </li>
            <li class="pb-2">
                Be willing to remain at Promise of Hope for at least (9) months and no
longer than (1) year
            </li>
            <li class="pb-2">
                Having all legal matters in order
            </li>
            <li class="pb-2">
                Be willing to interview with Advisory Board if applicant case is
questionable-in this event the applicant would be responsible for
transportation to the interview
            </li>
            <li class="pb-2">
                Complete the application
            </li>
            <li class="pb-2">
                Be admitted voluntarily
            </li>
            <li class="pb-2">
                Be appropriately detoxed
            </li>
        </ul>
        <h6 class="mx-auto">All residents must have the following items before entering the program:</h6>
        <ul>
            <li class="pb-2">
                Their social security card
            </li>
            <li class="pb-2">
                A valid driver&#39;s license, or other form of valid identification
            </li>
        </ul>
    </div>
</div>

<div class="container-fluid">
    <div class="col-11 col-md-6 mx-auto py-5">
        <h6 class="mx-auto">WHAT ARE RESIDENTS ALLOWED TO BRING WITH THEM TO PROMISE OF
HOPE?</h6>
        <ul>
            <li class="pb-2">
                5 pairs of fingertip length shorts (summer time)
            </li>
            <li class="pb-2">
                5 pairs of pants (winter time)
            </li>
            <li class="pb-2">
                2 pairs slacks or long pants (winter time for exercise)
            </li>
            <li class="pb-2">
                2 pairs shorts (summer time for exercise)
            </li>
            <li class="pb-2">
                7 shirts (no tank tops, no low-cut tops)
            </li>
            <li class="pb-2">
                2 pairs of pajamas
            </li>
            <li class="pb-2">
                A house robe and bed shoes
            </li>
            <li class="pb-2">
                2 dresses if you choose to
            </li>
            <li class="pb-2">
                Underwear
            </li>
            <li class="pb-2">
                No more than 4 pairs of shoes
            </li>
            <li class="pb-2">
                Personal hygiene products- nothing that is an aerosol product
            </li>
            <li class="pb-2">
                You may also bring your pillow from home
            </li>
        </ul>
    </div>
</div>

{% include /html/footer/footer-master.html %}
  
  </body>
</html>