<!DOCTYPE html>
<html lang="en">
  
{% include /html/head/head-master.html %}

<body id="home-page">
{% include /html/header/header-master.html %}
{% include /css/inline/page-specific/homepage/jumbotron.html %}
<div class="container-fluid jumbotron-background">
  <div class="col-12 col-lg-8 mx-auto text-center">
    <div class="py-2 py-md-5"></div>
    <div class="py-2 py-md-3"></div>
    <p class="m-0 text-center jumbotron-text">Take the first step today towards living a life free from addiction</p>
    <a href="/online-application">
    <button class="py-2 px-5 m-2 jumbotron-button">Apply Now</button>
    </a>
    <div class="py-0 py-md-1"></div>
    <div class="py-2 py-md-5"></div>
    <div class="py-2 py-md-4"></div>
  </div>
</div>

<div class="container-fluid bg-light">
  <div class="row text-center">
    <div class="col-12 col-md-6 mx-auto py-3">
      <h4 class="float-none text-center">Phone | 912-654-1132</h4>
      <!--
      <a target="_blank" href="http://www.promiseofhopega.org/index.html">
      <button class="float-none float-lg-left mx-2 donate-button">Go to promiseofhopega.org</button>
      </a>
    -->
    </div>
  </div>
</div>

{% include /css/inline/page-specific/homepage/about-home.html %}

<div class="container-fluid pb-5 about-us-background">
  <div class="row text-center text-md-left">
    <div class="col-12 col-md-10 ml-auto">
      <div class="py-2 py-md-4"></div>
      <h3 class="pb-3">We help women to overcome past obstacles, to develop improved
relationships, and more importantly to develop their personal relationship with Jesus
Christ.</h3>
      <h3>An addiction recovery program that works for you. The Promise of Hope System helps you live a life of freedom through faith. <span class="learn-more-link"><a href="/about-us">Learn more about living a life free from addiction</a></span></h3>
      <div class="py-2 py-md-5"></div>
      <div class="py-2 py-md-3"></div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row text-center text-md-left pb-5">
    <div class="col-12 col-md-10 ml-auto">
      <h3>For <span class="learn-more-link"><a href="https://www.facebook.com/promiseofhopetattnallga/">Upcoming Events</a></span> and more about our program, visit our Facebook page.</h3>
      <a href="https://www.facebook.com/promiseofhopetattnallga/">
        <img class="col-12 col-sm-6 col-md-2 pt-3" src="/assets/img/facebook-promise-of-hope-tattnall.jpg">
      </a>
    </div>
  </div>
</div>

{% include /html/footer/footer-master.html %}
  
  </body>
</html>

