<!DOCTYPE html>
<html lang="en">
  
{% include /html/head/head-master.html %}

<body id="about-us">
{% include /html/header/header-master.html %}
<hr class="m-0 p-0">
<div class="container-fluid pb-3 pt-md-5 pb-md-3">
    <div class="col-12 text-center">
        <h1>Testimonials</h1>
    </div>
</div>

{% include /css/inline/page-specific/homepage/testimonials-home.html %}

<div class="container-fluid p-0 bg-light">
    <div id="carouselheadslide" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
    <div class="carousel-item testimonial-slider-3">
    <div class="col-12 col-md-9 pl-4 mr-auto">
    <div class="py-2 py-md-3"></div>
    <h3 class="text-center testimony-title">Testimony: Suzianne B.</h3>
    <h6 class="text-left testimonial-text"><p>My name is Suzianne B. I started drugs at the age of 13. I have been an alcoholic and addict over half my life. I’m also a christian, mother, daughter, and a sister. My parents got divorced when I was 5 years old. I am the youngest of five children. My grandparents raised us.</p>

<p>My warped perception started at a very young age. I thought growing up that my dad didn’t want or love me. I also thought there was something wrong with me. The fear of abandonment and rejection ruled a lot of my major decisions in life. I constantly tried to fill the holes of insecurity with people and drugs. Drugs began as something to help or fix me, but it ended up taking everything. It almost took my life.</p>

<p>I tried to stop using on my own many times with no success. I ended up in jail again August 2017. I lost marriage relationships with kids and grandkids, jobs, homes, vehicles and my spirit. I knew I would be released and back out and would start my usual pattern all over again. I asked for help and prayed a lot. With assistance from a caring probation officer and a preacher I found Promise of Hope.</p>

<p>I started my year long rehabilitation stay at promise of Hope in Dudley, Ga. When I got there I was broken scared, hopeless and thought I was helpless. I began to come out of the drug fog, it took more than a couple of months for that. My spiritual relationship with God was so far away because of my sin. I started praying and doing quiet time and with time started feeling the Holy Spirit again.</p>

<p>I was introduced to AA and NA there which was something I had never heard of before. With a combination of God fearing counselors and addicts just like me I started seeing some hope. A lot has changed for me since I’ve been here. God restored my relationships with kids and grandkids. The biggest restoration was my relationship with Jesus Christ. That came after a lot of soul searching and some dark days.</p>

<p>I lost my sister to the disease of addiction in January while I was a resident at Promise of Hope. The counselors, residents, my family and my sponsor gave me the love and support during that time. It was a safe place for me to express my hurt and anger for the lose of my sister.</p>
  
<p>At 8 Months I was offered a transfer to Promise of Hope Tattnall where I would be a resident and work in the office as staff. I had been employed with the help of Promise of Hope at a restaurant for 8 Months which was a blessing since I was unemployable when I got there. I excepted the offer and God did the rest. I have now completed Promise of Hope Tattnall at 357 days sober. I am still employed at Promise of Hope Tattnall. I get to grow, and watch others grow in recovery Promise of Hope helped save my life.</p>

<p>The insight and counseling they offer is life changing. The spiritual side and recovery side of this program go hand and hand. This is a God led program. The network and sponsor which I have because of what I learned here is for a lifetime. A year is what you spend here but a lifetime of blessings is what you get. Openness, honesty and willingness are key ingredients to receive what is offered here. My future is so positive and limitless. Glory be to God and thanks to Promise!</p></h6>
    </p></div>
    <div class="py-3 py-md-3"></div>
    </p></div>
    <div class="carousel-item testimonial-slider-1">
      <div class="col-12 col-md-9 pl-4 mr-auto">
      <div class="py-2 py-md-3"></div>
      <h3 class="text-center testimony-title">Testimony: Denise Dobbins</h3>
      <h6 class="text-center testimonial-text">When I was fourteen, I began to drink, which allowed me to escape feelings of inadequacy. For the first time in my life, I felt like I "fit in". Even though I got very sick the first time I got drunk, I knew I wanted to do it again, because I felt "good" when I was drunk...Free from pain and insecurities . When I was fifteen, I began to experiment with street drugs, and found I enjoyed these much more, mainly because they didn't smell. I felt I was very good at hiding the fact that I was high from my parents and everyone else. I graduated high school, only by the grace of God, and moved to Atlanta to attend dental assisting school. I became deeper involved in drug use while there. I remember when I was nineteen, realizing that I didn't know how to function without being high.....<a class="text-center" target="_blank" href="/assets/img/PDF/Denise Dobbins.pdf">continue reading</a></h6>
      </p></div>
      <div class="py-3 py-md-3"></div>
      </p></div>
    <div class="carousel-item active testimonial-slider-2">
        <div class="col-12 col-md-9 pl-4 mr-auto">
        <div class="py-2 py-md-3"></div>
        <h3 class="text-center testimony-title">Testimony: Mandy Hall</h3>
        <h6 class="text-left testimonial-text">
          
          <p>I was born and raised in Reidsville, Georgia.  My parents divorced when I was 5 years old.  Weekends with my dad consisted of drinking and poker fun.  At an early age, I will never forget sipping my daddy’s beer and thinking how gross it was while I waited for him to go in the store.</p>

          <p>I got drunk for the first time when I was 15 years old.  I loved that it took away all of my shyness and insecurities.  It wasn’t long before I became a weekend drinker.  I would party on Friday and Saturday night and then go to church on Sunday.</p>

          <p>Things got progressively worse.   I began to experiment with drugs and alcohol and my senior year, I was asked to leave high school.</p> 

          <p>Shortly afterwards, I was arrested for the first time.  My daddy made a deal with me that if I went to Youth Challenge and graduated that he would pay off my charges.  In 2005, the night of my graduation from Youth Challenge, I went to a party and began the cycle all over again.</p>  

          <p>Over the next few years, I was in and out of jail and treatment.  All the while my family was trying to “save me”.</p>

          <p>In the summer of 2007, I learned that I was pregnant and attempted to get my life straight. However, I continued to take prescribed narcotics throughout my pregnancy,.   I justified in my mind that this behavior was acceptable because the pills had been prescribed by a doctor.  By the grace of God my son was born healthy in April 2008, weighing a whopping 9lb 3 oz.</p>  

          <p>From April 2008 until December 2010, I struggled with my addictions.  I was arrested for the last time in December.  By this time, my family was fed up with me.  After sitting in jail for quite a while I went to court for a bond reduction.  The District Attorney opened my file and read to the court all of my offenses.   He proceeded to tell the judge that I had an addiction problem and his suggestion was for a stipulation to be attached to my bond that I enter and complete a long term treatment.</p>

          <p>This was the beginning of my journey to Promise of Hope.  I entered the program on February 25, 2011, completely hopeless, yet oddly enough still in denial because of the guilt and shame.  There were women there that helped me and loved me even when I didn’t know how to love myself.</p> 

          <p>I left Promise of Hope after six months before completing the program.  Because I was mandated by the court, I had to return to jail.   I went to another facility, 24/7 House in Baxley, 30 days later.  I completed the program March 23, 2012.</p>

          <p>Somewhere along the way, I felt God tugging at my heart and He gave me a desire to help others.  24/7 offered me a position to work there full time.  I spent the next four years working and eventually started training to be an addiction counselor.</p>  

          <p>My journey to open Promise of Hope Tattnall began the beginning of 2017.  I have been totally amazed by all that God has done for this ministry.  I look forward to what’s to come.</p>
          
</h6>
        </p></div>
        <div class="py-3 py-md-3"></div>
      </div>
      
    <p><a class="carousel-control-prev" href="#carouselheadslide" role="button" data-slide="prev"><br />
        <span class="carousel-control-prev-icon" aria-hidden="true"></span><br />
        <span class="sr-only">Previous</span><br />
      </a><a class="carousel-control-next" href="#carouselheadslide" role="button" data-slide="next"><br />
        <span class="carousel-control-next-icon" aria-hidden="true"></span><br />
        <span class="sr-only">Next</span><br />
      </a>
    </div>
    </div>

{% include /html/footer/footer-master.html %}
  
  </body>
</html>