<!DOCTYPE html>
<html lang="en">
  
{% include /html/head/head-master.html %}

<body id="thank-you">
{% include /html/header/header-master.html %}

<div class="container-fluid text-center pt-3 pt-md-5">
    <div class="col-12">
        <h2>Thank you, we've received your information.</h2>
        <a href="/">
        <button class="donate-button">Return to our homepage</button>
        </a>
    </div>
</div>

<div class="container-fluid text-center pt-2 pt-md-2">
    <div class="col-12 py-3">
        <h6>-or-</h6>
    </div>
    <div class="col-12">
        <h4>Call us for more details: 912-654-1132</h4>
    </div>
</div>
  
  </body>
</html>
