
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .jumbotron-text {
    font-size: 50px;
  }
  .google-map {
    width: 80%;
}
  

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .logo-background {
    background-size: 240px;
    background-position-y: 10px;
    background-position-x: 50px;
}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 



 }