.logo-background {
    background-image: url("/assets/img/pageimg/promise-of-hope-logo-lite.png");
    background-repeat: no-repeat;
    background-size: 170px;
    background-position-y: 15px;
    background-position-x: 20px;
}

.navbar-toggler-icon {
    background-image: url("/assets/img/pageimg/mobile-menu.png");
    background-repeat: no-repeat;
    background-size: 25px;
    width: 1.0em;
    height: 1.1em;
    background-position-y: top;
}

.mobile-menu-text {
    color: #aa1100;
}

.donate-button {
    background-color: #aa1100;
    border-color: #aa1100;
    color: #fff;
    border-radius: 10px;
    border-style: solid;
    transition: .2s;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.donate-button:hover {
    background-color: #222;
    border-color: #222;
    cursor: pointer;
    transition: .2s;
}

.nav-item {
    font-family: 'Open Sans', sans-serif;
}

.nav-item a {
    color: #222;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 30px;
    height: 70px;
    border-radius: 3px;
    background-color: #aa1100;
}

.carousel-control-prev-icon {
    display: none;
}

.footer-border {
    border-right: 5px double;
    border-color: #e8e8e8;
}

.footer a {
    color: #aa1100;
}

.footer a:hover {
    text-decoration: underline solid;
}

.form-input {
    border-style: solid;
    border-color: rgb(153, 153, 153);
    border-width: 2px;
}

.form-submit-button {
    background-color: #aa1100;
    border-color: #aa1100;
    color: #fff;
    border-radius: 10px;
    border-style: solid;
    transition: .2s;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.form-submit-button:hover {
    background-color: #222;
    border-color: #222;
    cursor: pointer;
    transition: .2s;
}

.logo-signature {
    width: 200px;
}

.learn-more-link a {
    text-decoration: underline dotted;
    color: #aa1100;
}

.learn-more-link a:hover {
    text-decoration: underline solid;
    color: #aa1100;
}