<footer class="footer py-3">
<div class="container-fluid py-4 mx-auto bg-light">
    <div class="row">
        <div class="col-12 col-md-4 pb-4 pb-md-0 text-center text-md-right footer-border">
            <span class="font-weight-bold">Contact:</span><br>
            Office: 912-654-1132<br>
            Fax: 912-654-1139<br>
            Mail: P.O. Box 485 Glennville GA 30427
        </div>
        <div class="col-12 col-md-4 pb-4 pb-md-0 text-center text-md-left">
                <span class="font-weight-bold">Promise of Hope</span><br>
            We help women to overcome past obstacles, to develop improved relationships, and more importantly to develop their personal relationship with Jesus Christ.
       </div>
       <div class="col-12 col-md-4 text-center text-md-left">
           <h6 class="text-center">Use this button to donate to our organization</h6>
       <form class="py-2 text-center" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="ZSBKXB4T4Q7GC">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" width="150px" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 py-4 pl-0 pr-0 float-left text-center mx-auto">
    <img class="pb-3" width="150px" src="assets/img/pageimg/GARR_logo.png">
    <img class="pb-3" width="150px" src="assets/img/pageimg/THOR Logo.png">
        <p class="m-0 text-center">Copyright © 2021 Promise of Hope Tattnall.</p>
        <p class="m-0 text-center">Designed and developed by <a target="_blank" href="https://churchwebpresence.com/">Church Web Presence</a></p>
      </div>
<div class="py-5"></div>
<script src="{{ "/assets/main.js" | relative_url }}"></script>
</footer>